<mat-card class="generic-card h-30">
    <h2>Frequently Used</h2>
    <div class="d-flex justify-content-between content">
      <div class="box d-flex align-items-start view">
        <h2>View Funds</h2>
        <span class="d-flex w-100">You have used this service 20 times in the last one week.</span>
        <a href="#">Action CTA >></a>
      </div>
      <div class="box d-flex align-items-start view">
        <h2>Manage Funds</h2>
        <span>You have used this service 15 times in the last one week.</span>
        <a href="#">Action CTA >></a>
      </div>
      <div class="box d-flex align-items-start">
        <h2>View Orders</h2>
        <span>You have used this service 10 times in the last one week.</span>
        <a href="#">Action CTA >></a>
      </div>
    </div>
  </mat-card>
  