    <mat-card class="mt-4">
        <div class="d-flex align-items-center justify-content-between">
            <h2>Wallet Balance</h2>
            <div class="d-flex align-items-center;">
              <img src="assets/images/account_balance_wallet 2.png" alt="Wallet Icon">
            </div>
        </div>
        <div class="accBalance mt-2">
            <span>₹ {{ balance }}</span>
            <p class="balanceInfo">Current Balance</p>
            <p>Running low on balance? <a href="#">Click here</a> to add more</p>
        </div>
    </mat-card>
    

